body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.board {
  border: 2px solid black;
}

.line {
  display: flex;
  flex-direction: row;
}

.line > div {
  height: 50px;
  width: 50px;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
}
