* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.menu-section {
  display: flex;
  flex-direction: row;
  gap: .5rem;
}

button {
  cursor: pointer;
  border: 2px solid transparent;
  padding: .4rem .8rem;
  border-radius: .5rem;
  background-color: rgb(240, 128, 128, 0.5);
}

.btn_active {
  border-color: rgb(240, 128, 128, 1);
}

button:hover {
  background-color: rgb(240, 128, 128, .8);
}

table {
  border-radius: .8rem;
  border: 2px solid rgb(240, 128, 128, 1);
  padding: .3rem;
  border-spacing: 0;
}

table thead {
  color: white;
  background: rgb(240, 128, 128, 1);
}

table td, th {
  padding: .3rem .6rem;
}

table td:first-child, th:first-child {
  border-radius: .5rem 0 0 .5rem;
}

table td:last-child, th:last-child {
  border-radius: 0 .5rem .5rem 0;
}

table tbody tr:nth-child(even) {
  background-color: rgb(240, 128, 128, 0.2);
}

.statistics-section {
  display: flex;
  flex-direction: row;
  gap: .5rem;
}

[hidden] {
  display: none;
}


@media  (max-width: 720px) {
  html {
    font-size: 14px;
  }
}
